@import url(global.css);
@import url(header.css);

.mainAbout {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: var(--size16);
}

.main_header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.main_header_titulo {
  font: 700 var(--size8) var(--fontJakarta);
  text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.307);
}

.main_header_subtitulo {
  font: 700 var(--size16) var(--fontAmatic);
  background-image: url(../assets/pintura.png);
  background-repeat: no-repeat;
  background-size: 100% 90%;
}

.main_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: var(--size16);
}

.container_div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: var(--size4);
}

.div_conteudo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: var(--size2);
}

.div_imagem {
  width: 80%;
  border: 3px solid var(--laranja);
  padding: var(--size4);
  border-radius: 50%;
  background-color: rgb(235, 226, 226, 0.47);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.307);
}

.conteudo_icon {
  border: 3px solid var(--laranja);
  border-radius: 50%;
  padding: var(--size1);
  background-color: rgba(235, 226, 226, 0.47);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.307);
}

.conteudo_h3 {
  font: 700 var(--size5) var(--fontJakarta);
}

.footer {
  margin-top: var(--size20);
  background-color: var(--azul);
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.footer_conteudo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.footer_titulo {
  display: block;
  font-size: var(--size5);
  text-align: center;
  color: var(--white);
  padding: var(--size3);
}

.footer_logo {
  display: block;
  font: 700 var(--size10) var(--fontAmatic);
  color: var(--white);
}
